:root {
    --blanco: #ffffff;
    --negro: #040303;
    --gris: #6A7B76 ;
    --verde: #3A4E48;
    --plata: #E2E2E2;
}

body {
    background-color: var(--blanco);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fixed {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.contenido {
    background-color: var(--blanco);
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
    
}

.titulo {
    display: block;
    font-size: 2em;
    text-align: center;
}

.titulo-interno {
    display: block;
    font-size: 1em;
    text-decoration: underline;
    text-align: center;
}
